<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Form</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
			font-size:14px;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: middle;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
<body style="max-width:800px;">
    <!-- Dynamic content will be inserted here -->
</body>
</html>
